<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="{{ url_for ('static', filename='css/style.css') }}" >
    <title>adviser</title>
</head>
<body>
    <div class="container">
    <div align="center">
        <label>ข้อมูลตาราง year</label>
        
        <table class="table table-hover">
        <thead class="thead-light">
            <tr>
                <!-- <th>รหัสแถว</th> -->
                <th>นิสิต</th>
                <th>อาจารย์ที่ปรึกษา</th>
                <th>สถานะ</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
            {% for row in data %}
            <tr> 
                <td style="display:none;"><input type="hidden" name="adviser_row_id" value="{{row.adviser_row_id}}"></td>
                <td>{{row.student_name}} {{row.student_lastName}}</td>
                <td>{{row.teacher_name}} {{row.teacher_lastName}}</td>
                <td>{{row.adviser_status}}</td>
                <td><a href="/" class="btn btn-warning btn-xs" data-toggle="modal" data-target="#modaledit{{row.adviser_row_id}}">แก้ไข</a></td>
                <td><a href="/deleteadviser/{{row.adviser_row_id}}" class="btn btn-danger btn-xs" onclick="return confirm('คุณต้องการลบข้อมูลหรือไม่?')">Delete</a></td>
            </tr>
        
        
        <!-- ------------------------------------------------------------------------------------------------- -->
        <div id="modaledit{{row.adviser_row_id}}" class="modal fade" role="dialog"> <!-- ดึงค่ามาจาก id commit -->
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
                        <h4 class="modal-title" align="center">แก้ไขข้อมูล</h4>
                    </div>
                <div class="modal-body">
                <form action="/editadviser" method="POST"> <!--  ส่งค่าไปยังdatabase -->
                <!-- ---------------- ------    ----------  ------------------------->
                <input type="hidden" name="adviser_row_id" value="{{row.adviser_row_id}}" >
                <div class="form-group" >
                    ชื่อนิสิต <select name="student_id">
                        {% for i in student %}
                        <option value="{{i.student_id}}" >{{i.student_name}} {{i.student_lastName}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group" >
                    อาจารย์ <select name="teacher_id">
                        {% for i in teacher %}
                        <option value="{{i.teacher_id}}">{{i.teacher_name}} {{i.teacher_lastName}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group" >
                    สถานะ
                    <input type="radio" name="adviser_status" value="Y" id="Y" {%if row.adviser_status == 'Y' %} checked {% endif %} ><label for="Y">เป็นที่ปรึกษา</label>
                    <input type="radio" id="female" name="adviser_status" value="N" id="N" {%if row.adviser_status == 'N' %} checked {% endif %} ><label for="N" >ยกเลิกการเป็นที่ปรึกษา</label><br> 
                </div>
                <input type="submit" value="บันทึก" class="btn btn-warning">
    
                </form>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">ปิด</button>
                </div>
            </div>
        </div>
        <!-- ----------------------------------------------------------------------------------------------------- -->
    {% endfor%}
    </table>
    
        <a href="/addadviser" class="btn btn-info" style="float: right;">เพิ่ม</a>
    
    
        <a href="/" class="btn btn-info"  style="float: left;">กลับ</a>
    
    
    </div>
    </div>
</body>
 
</html>