<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>topic</title>
</head>
<body>
    <div class="container">
        <div align="center">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">เพิ่มข้อมูล</h4>
                </div>
            <div class="modal-body">
                <form action="/addtopictable" method="POST">
                    ชื่อกิจกรรม <input type="text" name="topic_name" id="topic_name">
                    <input type="submit" value="เพิ่ม">
                    <div class="modal-footer">
                        <a href="/topic">กลับ</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    
</body>
</html>

