<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


    <link rel="stylesheet" href="{{ url_for ('static', filename='css/style.css') }}" >
    <title>members</title>
</head>
<body>
    <div class="container">
    <div align="center">
        <label>ข้อมูลตาราง members</label>
        <table class="table table-hover">
        <thead class="thead-light">
            <tr>
                <!-- <th>รหัสแถว</th> -->
                <th>Token ID</th>
                <th>member_id</th>
                <!-- <th>ชื่อmember</th> -->
                <th>status</th>
                <th></th>
            </tr>
        </thead>
            {% for row in data %}
            <tr> 
                <tr><input type="hidden" value="{{row.members_row_id}}" name="members_row_id"></tr>
                <td>{{row.token_id}}</td>
                <td>{{row.member_id}}</td>
                <!-- <td>{{row.teacher_name}}{{row.student_name}}</td> -->
                <td>{{row.status}}</td>
                <td><a href="/deletemember/{{row.members_row_id}}" class="btn btn-danger btn-xs" onclick="return confirm('คุณต้องการลบข้อมูลหรือไม่?')">Delete</a></td>
            </tr>
            {% endfor%}
        </table>
    </div>
    <div style="margin-bottom: 8em;">
        <a href="/" class="btn btn-info"  style="float: left;">กลับ</a>
    </div>
    </div>
</body>
 
</html>